{% extends "header.html" %}
{% block body %}

    <br /> <br /> <br /> <br />

<div class="container">
    <div class="card mx-auto" style="width: 25rem;">
      <div class="card-body text-center">
          <div class="card-title"><b>Allergy Details</b></div>
          <form action="/allergies/{{data}}" method="POST">

            <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text"></div>
                    </div>
                <input type="text" class="form-control"  name="allergy1">
            </div>

            <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text"></div>
                    </div>
                <input type="text" class="form-control"  name="allergy2">
            </div>


            <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text"></div>
                    </div>
                <input type="text" class="form-control"  name="allergy3">
            </div>

            <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text"></div>
                    </div>
                <input type="text" class="form-control"  name="allergy4">
            </div>

            <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text"></div>
                    </div>
                <input type="text" class="form-control"  name="allergy5">
            </div>


              <button type="submit" class="btn btn-primary">Submit</button>
        </form>

      </div>
    </div>
</div>

{% endblock %}
