<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #6200EE;">


    <div class="collapse navbar-collapse" id="navbarsExampleDefault">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item" style="margin-left: 30px;font-size: 20px">
            <a class="nav-link" href="#" style="color: #FFFFFF"><i class="fas fa-fire" style="color:#FFEA00"></i>  <b> Hospital </b></a>
        </li>
      </ul>

      <form class="form-inline mr-auto">

        <input class="form-control mr-sm-2 search" id="search" type="text" placeholder="Search" aria-label="Search" style="width:500px; color:#FDFEFE">
        <button class="btn" type="submit" id="process_search" style="background-color:#FFEA00; color: #6200EE">Search</button>

      </form>

        <ul class="navbar-nav mr-right" style="margin-right: 20px;font-size: 16px;">
          <li class="nav-item">
              <b><a class="nav-link" href="#" style="color: #FFFFFF"><i class="fas fa-user"></i>  Profile</a></b>
          </li>

          <li class="nav-item">
              <a href="/logout" class="nav-link" style="color: #FFFFFF"><i class="fas fa-sign-out-alt"></i>   <b>Logout</b></a>
          </li>

      </ul>

    </div>

</nav>
