{% extends "header.html" %}
{% block body %}

    <br /> <br /> <br /> <br />

<div class="container">
    <div class="card mx-auto" style="width: 25rem;">
      <div class="card-body text-center">
          <div class="card-title"><b>Sign In</b></div>
        <form action="/registration" method="POST">

            <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><i class="fas fa-user"></i></div>
                    </div>
                <input type="text" class="form-control"  name="name" placeholder="Enter name">
            </div>

            <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><i class="fas fa-user"></i></div>
                    </div>
                <input type="text" class="form-control"  name="email" placeholder="Enter Email-id">
            </div>



            <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><i class="fas fa-lock"></i></div>
                    </div>
 <input type="text" class="form-control"  aria-describedby="emailHelp" name="password" placeholder="Enter Password">
            </div>


              <button type="submit" class="btn btn-primary">Sign In</button>
            <p style="margin:2%">Already have a account? <a href="/login">Log In</a></p>
        </form>

      </div>
    </div>
</div>

{% endblock %}
